<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>

    body{

    }
    .column {
    float: left;
    width: 50%;
  }
  .row{
    background-color: #B6E2D3;
    padding-bottom:20px
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  h1{
    font-size: 100px;
    padding-left: 150px;
    padding-top: 150px;
    margin-top: 0px;

      font-family: cursive;
      color: #183D3D;




  }
  h2{
    font-size: 75px;
    padding-left: 150px;
    padding-top: 50px;
    font-family: cursive;
    color: #344955;
  }
  h3{
    font-size:50px;

    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: cursive;
    color: #344955;
  }
.im{
  margin-right: 0px


  height: 350px;
  width: 350pxl
}
.b{
  padding-left: 150px;
  padding-top: 25px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Space between cards */
    padding-top:50px;
    padding:100px 0 100px 0;
}

.card {
    width: calc(33.33% - 95px); /* Calculate width for each card with margin included */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow to the card */
    overflow: hidden;
}

.card img {
    width: 100%; /* Make the image inside the card take up the full width */
    height: 350px; /* Allow the image to adjust its height while maintaining aspect ratio */
    border-radius: 10px 10px 0 0; /* Round the top corners of the image */
}

.card-content {
    padding: 20px;
    background-color: #f9f9f9; /* Background color of the card content */
}

.card-content h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.card-content p {
    margin-bottom: 0;
}
    </style>
  </head>
  <body >
    <div class="row">
  <div class="column c1">

     <h2>Admin Pannel</h2>

<a style="margin-left:150px" class="btn btn-light btn-lg" href="/user" role="button"> Go To User's Information</a>


  </div>
  <div class="column c2">

    <img class='im' src="/images/logo.png" />
  </div>
</div>

  <h3>All poems...</h3>
<div class="card-container">
  <% para.forEach(function(poem) { %>
    <div class="card">
          <img src="data:image/<%=poem.image.contentType%>;base64,
                  <%=poem.image.data.toString('base64')%>" >
        <div class="card-content">
            <h3><%= poem.topic %></h3>

            <a class="btn btn-dark btn-lg" href="/poems/<%= poem._id %>" role="button">Read</a>
            <a class="btn btn-dark btn-lg" href="/delete/<%= poem._id %>" role="button">Delete</a>
        </div>
    </div>
    <%  }) %>

</div>
  </body>

</html>
